EXPO_PUBLIC_TARGET_ENV=dev
EXPO_PUBLIC_GRAPHQL_URL=http://127.0.0.1:5000/graphql
EXPO_PUBLIC_API_URL=http://127.0.0.1:5000
EXPO_PUBLIC_SUBSCRIPTIONS_URL=ws://127.0.0.1:5000/graphql
EXPO_PUBLIC_DIAGNOSTIC=true
EXPO_GOOGLE_MAPS_API_KEY=